{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
<table class="table table-bordered table-striped sonata-ba-list">
    <thead>
        <tr>
            <th colspan="3">{{ settings.title }}</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <div class="btn-group" align="center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at dapibus lectus, 
                        in gravida mauris. Vivamus malesuada elit lorem, ac hendrerit urna dapibus nec.
                        Curabitur non nisl augue. Pellentesque vitae ex at erat ullamcorper tempor. 
                        Nulla facilisi. In vel nibh at sapien consectetur sagittis quis non odio. 
                        Vestibulum ac ligula venenatis, varius mi at, tristique sapien. Curabitur 
                        tincidunt aliquet arcu, id volutpat risus fringilla eu. Aenean ac blandit magna.
                        Nullam sapien ante, fermentum sit amet fringilla ut, aliquam et augue. Sed
                        lacinia porttitor dapibus. Donec tempor vel tortor id interdum. Morbi neque 
                        eros, faucibus sit amet metus a, ultrices fermentum mi.
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}